* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}
#container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border: 2px solid black;
  box-shadow: 10px 10px 5px gray;
  border-radius: 25px;
}
header {
  background-color: #331a00;
  color: #e6ccb3;
  padding: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
nav {
  color: #e6ccb3;
  background-color: #4d2600;
  padding: 10px;
}

main {
  background-color: #331a00;
  color: #e6ccb3;
  padding: 10px;
  float: right;
  width: 100%;
}

footer {
  color: #e6ccb3;
  background-color: #4d2600;
  padding: 5px 40px;
  clear: both;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

a {
  text-decoration: none;
  color: beige;
}

a:hover {
  text-decoration:none;
  background-color: black;
  color: beige;
}
