/* This css file uses semantic elements, div ids, and the float property for the layout structure */

/* universal selector to reset browser defaults */
@font-face {
  font-family: "cantarellboldoblique";
  src: url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.eot');
  src: url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.woff2') format('woff2'),
       url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.woff') format('woff'),
       url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.ttf') format('truetype'),
       url('../fonts/cantarell_boldoblique_macroman/Cantarell-BoldOblique-webfont.svg#cantarellboldoblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: "cantarellboldoblique", Helvetica;
}

.grid-container {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'nav nav nav nav nav nav'
  'left left main main main main'
  'footer footer footer footer footer footer';
  grid-gap: 0;
  background-color: #145252;
  padding: 0;
  width: 964px;
  margin: 10px auto;
  border: 2px solid black;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.grid-container2 {
  display:grid;
  grid-template-areas:
  'header header header header'
  'nav nav nav nav'
  'left main main main'
  'footer footer footer footer';
  grid-gap: 0;
  background-color:#666699;
	color: black;
  padding: 0;
  margin: 10px auto;
  border: 2px solid black;
  width: 80%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.grid-container3 {
  display:grid;
  grid-template-areas:
  'header header header header header header'
  'nav nav nav nav nav nav'
  'left left main main right right'
  'footer footer footer footer footer footer';
  grid-gap: 0;
  background-color: #666699;
  color: black;
  padding: 0;
  width: 80%;
  margin: 10px auto;
  border: 2px solid black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.item1 { grid-area: header;
  text-align: center;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	width: 100%;
}
.item1 img {
  display: block;
  border:hidden;
  padding: 0;
  margin: 0 auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}
.item2 {
	grid-area: nav;
	color: white;
}
.item3 {
	grid-area: left;
	background-color: orange;
	padding: 0 40px;
	font-size: .8em;
	width: 100%;
}
.item3 img {
  border: 3px solid black;
  padding: 5px;
  background-color: white;
  margin: 15px;
}
.item4 {
	grid-area: main;
	background-color: white;
	padding: 20px;
	width: 100%;
}
.item5 {
	grid-area: footer;
	background-color:#666699;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
}
.item6 {
	grid-area: right;
	background-color: orange;
	padding: 10px;
}

.grid-container3 .item3 {
	grid-area: left;
	background-color: white;
	border-right: 2px solid black;
  font-size: 1em;
}

.grid-container3 .item4 {
	grid-area: main;
	background-color: white;
}

.grid-container3 .item6 {
	grid-area: right;
	background-color: white;
	border-left: 2px solid black;
}

body{
	background-color:#BDCFDB;
	font-family:"Helvetica", "Arial", "Verdana", "sans-serif";
}

img.center  {
	display: flex;
	margin-left: auto;
	margin-right: auto;
  width: 100%;
}

img.imagefloatleft  {
	float: left;
	margin-right: 30px;
}

img.imagefloatright {
	float: right;
  margin-left: 30px;
}

.clear  {
	clear:both;
}

nav {
	background-color:#666699;
  line-height: 200%;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-end;
  list-style-type: none;
}

nav a {
  color: white;
  background-color: green;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

nav li:first-child {
  margin-right: auto;
}

nav a:hover {
  color: white;
  background-color: black;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.home {
  background-color: black;
}

.home:hover {
  background-color: green;
}
